.login{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
     
}
.login>img{
    width: 70%;
}
.login>a{
    padding: 29px;
    border:none;
    color: aliceblue;
    background-color: rgb(17, 224, 62);
    border-radius: 99px;
    font-weight: 800;
    font-size:xx-large;
    text-decoration: none;
}